@model VTPL_ERP.Models.Master.ProblemMasterViewModel
@{
    ViewData["Title"] = "Problem_Master";

}
@*<h2>Problem_Master</h2>*@
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <!-- Revenue, Hit Rate & Deals -->
            <div class="row">
                @*===================*@
                <div class="col-md-6">
                    <div class="form-group">
                        @*<button type="button" class="btn btn-primary">Add New Courier</button>*@
                        <h4 style="float:left" class="modal-title"><strong>Problem Master</strong></h4>
                        @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" onclick="clearData()">Add New Unit</button>*@
                    </div>
                </div>
                <div id="myModal" class="modal fade" role="dialog" tabindex='-1'>
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                                <h4 class="modal-title"><i class="ft-user"></i> Problem </h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput1">Problem Name </label>
                                            @*<input type="text" id="projectinput1" class="form-control" placeholder="Ex : Bhavesh"
                                                name="fname">*@
                                            @Html.HiddenFor(m => m.Id, new { @class = "form-control" })
                                            @Html.HiddenFor(m => m.Created_Date, new { @class = "form-control" })
                                            @Html.HiddenFor(m => m.Modified_Date, new { @class = "form-control" })
                                            @Html.HiddenFor(m => m.IsActive, new { @class = "form-control" })
                                            @Html.TextBoxFor(m => m.ProblemName, new { @class = "form-control", @maxlength = 150 })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="projectinput2">Description</label>
                                            @*<input type="text" id="projectinput2" class="form-control" placeholder="Ex : 2KG"
                                                name="lname">*@
                                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @maxlength = 500 })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-actions">
                                    <button type="button" class="btn btn-warning mr-1" data-dismiss="modal">Close</button>
                                    <button type="button" id="saveProblemBtnId" class="btn btn-primary" onclick="saveProblem()">
                                        <i class="la la-check-square-o"></i> Save
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                @*================*@


                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content collapse show">
                            <div class="card-body">
                                <form class="form">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <button type="button" id="btnAddNew" style="float:right" class="btn btn-info btn-sm btn-round" data-toggle="modal" data-target="#myModal" onclick="clearData()"><i class="ft-plus"></i> Add New Problem</button>
                                        </div>
                                        <h4 class="form-section"><i class="ft-user"></i> List of Problem</h4>
                                        <div class="row">
                                            <div class="col-md-12">



                                                <div class="card-content collapse show vtpl-grid-align">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-striped" id="problemMastertblId">
                                                            <thead>
                                                                <tr>
                                                                    @*<th>#</th>*@
                                                                    <th>Problem Name</th>
                                                                    <th>Description</th>
                                                                    <th style="width: 25px;">Edit</th>
                                                                    <th style="width: 25px;">Delete</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>




                                            </div>

                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
    var tblList;
    $(document).ready(function () {
        BindProblemList();
        $(document).keyup(function (e) {
            var keyCode = e.keyCode || e.which;

            if (keyCode == 115) {
                // f4
                if (($("#myModal").data('bs.modal') || {})._isShown) {
                    $("#saveProblemBtnId").focus();
                    saveProblem();
                }
            }
            if (keyCode == 119) {
                // f8
                $('#btnAddNew').click();
            }
            if (keyCode == 70) {
                //shit + f
                if (e.shiftKey) {
                    $('#problemMastertblId_filter input').focus();
                }
            }
        });
        });
        function saveProblem() {
            if (ValidateForm()) { 
                var modelObj = {
                    Id: $("#Id").val(),
                    ProblemName: $("#ProblemName").val(),
                    Description: $("#Description").val(),
                    Created_Date: $("#Created_Date").val()
                };
                $.ajax({
                    type: "POST",
                    url: '/api/Master/SaveProblem',
                    data: modelObj,
                    dataType: "json",
                    success: function (response) {
                        if (response.isError == true) {
                            swal("Error!", response.errorMessage, "error");
                        }
                        else {
                            swal("Success!", response.successMessage, "success");
                            $('#myModal').modal('hide');
                            BindProblemList();
                        }
                    },
                    error: function () {
                        swal("Error!", "Some error had occur!", "error");
                    }
                });
            }
        }
        function DeleteData(id) {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this data!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            type: "GET",
                            url: '/api/Master/DeleteProblemByKey?id=' + id,
                            // data: id,
                            dataType: "json",
                            success: function (response) {
                                if (response.isError == true) {
                                    swal("Error!", response.errorMessage, "error");
                                }
                                else {
                                    swal("Success!", response.successMessage, "success");
                                    BindProblemList();
                                }
                            },
                            error: function () {
                                //swal("Error!", "Some error had occur!", "error");
                            }
                        });

                    }
                });

        }
        function EditData(id) {
            $.ajax({
                type: "GET",
                url: '/api/Master/GetProblemByKey?id='+id,
               // data: id,
                dataType: "json",
                success: function (response) {
                        $("#Id").val(response.id),
                        $("#ProblemName").val(response.problemName),
                        $("#Description").val(response.description),
                        $("#Created_Date").val(response.created_Date),
                        //$("#Modified_Date").val(response.modified_Date),
                        $("#IsActive").val(response.isActive),
                        $('#myModal').modal('show');
                },
                error: function () {
                    //swal("Error!", "Some error had occur!", "error");
                }
            });
        }
        function BindProblemList() {
            $.ajax({
                type: "Get",
                url: '/api/Master/GetAllProblem',
                dataType: "json",
                success: function (response) {
                    if ($.fn.dataTable.isDataTable('#problemMastertblId')) {
                        tblList.destroy();
                    }
                    tblList = $('#problemMastertblId').DataTable({
                        data: response,
                        "columns": [
                            //{ "data": "id" },
                            { "data": "problemName" },
                            { "data": "description" },
                            {
                                "render": function (data, type, full, meta)
                                { return "<a class='btn btn-info' href='#' onclick=EditData('" + full.id + "'); ><i class='ft-edit'></i></a>"; }
                            },
                            {
                                data: null, render: function (data, type, row) {
                                    return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.id + "'); ><i class='ft-trash'></i></a>";
                                }
                            },
                        ]
                    });
                },
                error: function () {
                    swal("Error!", "Some error had occur!", "error");
                }
            });
        }
        function ValidateForm() {
            var isValid = true;
            try {
                var problemName = $("#ProblemName").val().trim();
                if (problemName == "") {
                    swal("Error!", "Please Enter Problem Name", "error").then(function () {
                        $("#ProblemName").focus();
                        $("#ProblemName").val("");
                    });
                    return false;
                }

            } catch (err) {
                alert(err);
                return false;
            }
            return isValid;
        }
        $("input[type='text']").on("focus", function () {
            $(this).select();
        });
        $("#Description").focusout(function () {
            $("#saveProblemBtnId").focus();
        });
        function clearData() {
            $("#ProblemName").val("");
            $("#Description").val("");
            $("#Id").val("");
            $("#Created_Date").val("");
            $("#Modified_Date").val("");
            $("#IsActive").val("");
        }
        $('#myModal').on('shown.bs.modal', function () {
            $('#ProblemName').focus();
        })
    </script>
}

